[Desktop Entry]
Encoding=UTF-8
Name=Enlace a AF1QipNbzVuvqIgl-P3-rlfG7KplvLILvcT7-agZVCOa
Type=Link
URL=https://photos.google.com/photo/AF1QipNbzVuvqIgl-P3-rlfG7KplvLILvcT7-agZVCOa
Icon=mate-fs-bookmark
Name[es_CO]=demouberclone
